<nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand px-3" [routerLink]="'/users'">Allhours Angular App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Users menu item -->
        <li class="nav-item px-3" *ngIf="isTokenAvailable">
          <a class="nav-link" [routerLink]="'/users'">Users</a>
        </li>
        <!-- Absences menu item -->
        <li class="nav-item px-3" *ngIf="isTokenAvailable">
          <a class="nav-link" [routerLink]="'/absences'">Absences</a>
        </li>
         <!-- Settings menu item -->
        <li class="nav-item px-3">
          <a class="nav-link" aria-current="page" [routerLink]="'/settings'">Settings</a>
        </li>
      </ul>
      <span class="navbar-text">
      </span>
    </div>
  </div>
</nav>
